ion-content button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.style6030 { 
  left: 50px;
  top: 20px;
}

.style5444 { 
  top: 97px;
}

.style6664 { 
  top: 86px;
}

.style662 { 
  top: 32px;
  bottom: 0px;
  left: 12px;
}

.style7576 { 
  top: 160px;
  left: 222px;
}

.style2013 { 
  left: 223px;
  bottom: 118px;
}

.style9054 { 
  top: 140px;
  bottom: 0px;
  left: 17px;
}

.style7298 { 
  top: 17px;
  left: 85px;
}
